@model TrafalgarSquare.Web.ViewModels.TopPostViewModel

<div class="panel-group">
    <div class="panel panel-default" id="@string.Format("panel{0}", Model.Id)">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="@string.Format("#collapse-panel{0}", Model.Id)" aria-expanded="true">
                    <p class="row">
                        <span class="col-md-10">
                            @Model.Title
                        </span>
                        <span class="col-md-2 badge">@Model.LikesCount</span>
                    </p>
                </a>
            </h4>
        </div>
        <div id="@string.Format("collapse-panel{0}", Model.Id)" class="panel-collapse collapse" aria-expanded="true">
            <div class="panel-body">
                <div class="row">posted by: @Model.PostOwner.UserName</div>
                <div class="row">Likes: @Model.LikesCount</div>
            </div>
        </div>
    </div>
</div>