@model TrafalgarSquare.Web.ViewModels.User.UserProfileViewModel

<div class="row">
    <h2>@Model.Username</h2>
    <div class="col-md-2">
        @if (!string.IsNullOrEmpty(Model.AvatarUrl))
        {
            <img src="@Model.AvatarUrl" alt="avatar-@Model.Username" style="max-width: 100%" />
        }
        else
        {
            //default Avatar
            <img src="http://gravatar.com/avatar/658f2039885a85cc03cc31e20919bed6?s=512" alt="avatar-@Model.Username" style="max-width: 100%" />
        }
    </div>
    <div class="col-md-4">
        <p>Username: @Model.Username</p>
        <p>Email: @Model.Email</p>
        <p>
            City:@if (Model.City != null)
                 {
                     @Model.City
                 }
                 else
                 {
                     @:-
                 }
        </p>
        <p>Birthday: @Model.Birthday</p>
        <p>
            Age: @if (Model.Birthday != null)
                 {
                     TimeSpan ts = DateTime.Now - (DateTime)Model.Birthday;
                     DateTime Age = DateTime.MinValue.AddDays(ts.Days);
                     @: @string.Format(" {0} Years {1} Month {2} Days", Age.Year - 1, Age.Month - 1, Age.Day - 1)
                 }
                 else
                 {
                     @:-
                 }
        </p>
        <p>Gender: @Model.Gender</p>
        <p>Register date: @string.Format("{0:dd MMMM yyyy}", Model.RegisterDate)</p>
        <p>Posts: @Model.PostCount</p>
        <p>Comments: @Model.CommentsCount</p>
    </div>
    <div class="col-md-2">
        @if (!Model.IsOwned)
        {
            if (Model.IsViewerFriend)
            {
                <div class="label label-success">
                    Friend
                </div>
                <div class="btn btn-sm btn-danger">
                    Remove Friend
                </div>
            }
            else
            {
                <div class="btn btn-sm btn-info">
                    Add Friend
                </div>
            }

        }
    </div>
    <div class="col-md-3">
        <h3>Friends:</h3>
        @{
            Html.RenderAction("GetFriends","Users",new {id=Model.Username});
        }
    </div>
</div>

@section scripts{

}

