<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@Html.ActionLink("Jocke Developer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">@Html.ActionLink("Funny Pictures", "Index", "FunnyPictures")</a>
                            </li>
                            <li>
                                <a href="#">@Html.ActionLink("Trainers Quotes", "Index", "TrainersQuotes")</a>
                            </li>
                            <li>
                                <a href="#">@Html.ActionLink("Jockes", "Index", "Jokes")</a>
                            </li>
                            <li>
                                <a href="#">@Html.ActionLink("Funny Codes", "Index", "FunnyCodes")</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Top Users</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="left-wrapper">
            <h3>TOP 10 POSTs</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">14</span> Cras justo odio
                </li>
                <li class="list-group-item">
                    <span class="badge">2</span> Dapibus ac facilisis in
                </li>
                <li class="list-group-item">
                    <span class="badge">1</span> Morbi leo risus
                </li>
                <li class="list-group-item">
                    <span class="badge">14</span> Cras justo odio
                </li>
                <li class="list-group-item">
                    <span class="badge">2</span> Dapibus ac facilisis in
                </li>
                <li class="list-group-item">
                    <span class="badge">1</span> Morbi leo risus
                </li>
            </ul>
            <h3>Random Jocke</h3>
            <a href="#" class="btn btn-default btn-lg btn-block">Block level button</a>
        </div>

        <div class="right-wrapper">
            @RenderBody()
        </div>



    </div>
    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search" type="text">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li> @DateTime.Now.Year - @Html.ActionLink("Jocke Developer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>


    @Scripts.Render("~/bundles/jquery") @Scripts.Render("~/bundles/bootstrap") @RenderSection("scripts", required: false)
</body>

</html>
