@model TrafalgarSquare.Web.ViewModels.PostCreateBindModel
@{
    ViewBag.Title = "Create new Post in " + @TempData["categorieName"];
}

<div id="wrapper">

    <h2>Create post in @ViewBag.Title</h2>

    @using (Html.BeginForm("PostCreate", "FunnyPictures", FormMethod.Post))
    {
@*
        @Html.AntiForgeryToken()
*@


        <div>
            @Html.Label("Title")
            @Html.TextBox("Title")
        </div>

        <div>
            @Html.Label("Text")
            @Html.TextBox("Text")
        </div>


        <div>
            @Html.Label("Resource")
            @Html.TextBox("Resource")
        </div>

     @*   <div>
            <input id="PostOwnerId" type="hidden" value=@TempData["PostOwnerId"] name="PostOwnerId">
        </div>*@

        <div>
            <input id="CategoryId" type="hidden" value=@TempData["CategoryId"] name="CategoryId">
        </div>



        <input type="submit"/>
    }
</div>
