@using TrafalgarSquare.Web.ViewModels;
@model List<JokeViewModel>
    @{
    ViewBag.Title = "Jokes";
    }

    <div id="wrapper">
        @foreach (var joke in Model)
        {
        <div class="panel panel-default">
            <div class="panel-body text-muted">
                Categorie / ViewBag.Title
            </div>
        </div>

        <h1 class="text-warning">@joke.Title</h1>
        <hr />

        <ul class="nav nav-pills">
            <li class="active">
                <a href="FunnyPictures#"><span class="glyphicon glyphicon-star"> Joke Likes</span> <span class="badge">@joke.Likes</span></a>
                <a href="#"><span aria-hidden="true"></span><span class="glyphicon glyphicon-thumbs-up"> Like this joke</span></a>
            </li>
        </ul>

        <br>
        <br>

        <p>@joke.Text</p>

        <div>

            @if (!string.IsNullOrEmpty(joke.User.AvatarUrl))
            {
            <div class="col-md-2">
                <img src="@joke.User.AvatarUrl" alt="@joke.User.Username" style="max-width: 30px" />
            </div>
            }
            <strong>Author: </strong><a href="#">@joke.User.Username</a>
            <strong>Posted on: </strong><a href="#">@joke.CreatedDateTime</a>
            <small>@*Is reported: @joke.IsReported*@</small>
        </div>

        <br>

        <a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-bell"> Report something</span></a>

        <div class="post-box text-center">
            <br>

            @*==========LOADING PARTIAL CONTENT*@
            <!--  <a href="#">
                @Html.Partial("_JockesMediaPartial")
            </a> -->
            @if (!string.IsNullOrEmpty(joke.Resource.FileUrl))
            {
            <span>Attached file: </span>
            <a href="@joke.Resource.FileUrl">download</a>
            }
            @if (!string.IsNullOrEmpty(joke.Resource.PictureUrl))
            {
            <img src="@joke.Resource.PictureUrl" class="img-thumbnail joke-box-image" alt="@joke.Title" />
            }
            @if (!string.IsNullOrEmpty(joke.Resource.VideoUrl))
            {
            <!-- <video controls>
                <source src="@joke.Resource.VideoUrl" type="video/mp4">
                Your browser does not support HTML5 video.
            </video> -->

            <iframe width="640" height="390" src="https://www.youtube.com/embed/2hUvgZ_djmk" frameborder="0" allowfullscreen></iframe>
            }

            <ul class="pager">
                <li class="previous disabled">
                    <a href="#">← Previous Joke</a>
                </li>
                <li class="next">
                    <a href="#">Next Joke →</a>
                </li>
            </ul>
            <br>
            <br>
        </div>


        @*===============COMMENTS*@
        <h2>Comments <span>(@joke.CommentsCount)</span></h2>
        <div class="panel panel-success" id="comment-box">
            <div class="panel-heading">
                <h3 class="panel-title"><stron><span class="glyphicon glyphicon-user"> Goshko</span></stron> <em>says (on date: 12-06-2015)</em></h3>
            </div>
            <div class="panel-body">
                Nullam quis risue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
            </div>
        </div> <!-- comment box tag end -->

        <div class="panel panel-success" id="comment-box">
            <div class="panel-heading">
                <h3 class="panel-title"><stron><span class="glyphicon glyphicon-user"> Goshko</span></stron> <em>says (on date: 12-06-2015)</em></h3>
            </div>
            <div class="panel-body">
                Nullam quis risue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
            </div>
        </div> <!-- comment box tag end -->


        <div class="panel panel-success" id="comment-box">
            <div class="panel-heading">
                <h3 class="panel-title"><stron><span class="glyphicon glyphicon-user"> Goshko</span></stron> <em>says (on date: 12-06-2015)</em></h3>
            </div>
            <div class="panel-body">
                Nullam quis risue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
            </div>
        </div> <!-- comment box tag end -->
        }
    </div><!-- wrapper tag end -->


    @section scripts{
    <script>
        function loadComments(itemId) {
            $.get("comments/" + itemId)
                .done(function (data) {
                    $(".comments-container-" + itemId + " .comments-container").html(data);
                    $(".comments-container-" + itemId).slideDown("fast");
                });
        }


        $("#jokes-container").on("click", function (ev) {
            var target = $(ev.target);
            var postControls = target.parent(".post-controls");
            var itemId = postControls.data("item-id");

            if (target.is(".show-comments-btn")) {
                loadComments(itemId);
                $(ev.target).hide();
                postControls.children(".hide-comments-btn").show();
            }
            else if (target.is(".hide-comments-btn")) {
                $(".comments-container-" + itemId).slideUp("fast");
                $(ev.target).hide();
                postControls.children(".show-comments-btn").show();
            }
        });

        $(".add-comment-form").on("submit",
            function (ev) {
                ev.preventDefault();

                var itemId = $(ev.target).data("item-id");
                var formData = $(this).serialize();

                $.post("comments/add/", formData)
                    .done(function () {
                        loadComments(itemId);
                    });
            });
    </script>
    }
